.katalog {
  padding: 100px 0px;
}
.katalog h1 {
  text-align: center;
}
.katalog .not {
  text-align: center;
}
.katalog .katalogButton {
  display: flex;
  width: max-content;
  justify-content: space-around;
  margin: 30px auto;
  gap: 40px;
  background: #eee;
  padding: 10px;
  border-radius: 30px;
}
.katalogButton button {
  border: none;
  padding: 10px 12px;
  border-radius: 20px;
  transition: 0.3s;
  text-transform: capitalize;
  background: transparent;
}
.katalogButton .active {
  background: white;
}
.katalogCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 90%;
  margin: 0px auto;
}
.katalogCards .katalogCard {
  width: 23%;
  padding-top: 50px;
}
.katalogCard .katalogCardImage {
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  height: 250px;
  background: #eee;
}
.katalogCards .katalogCard img {
  width: 100%;
  object-fit: contain;
  height: 100%;
  transform: translateY(-50px);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}
.katalogCard .katalogCardText {
  background: white;
  text-align: start;
  padding: 20px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px 0px 20px 20px;
}
.katalogCardText h2 {
  color: #1e1e1e;
  display: -webkit-box;
  line-height: 25px;
  font-size: 20px;
  font-weight: 600;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.katalogStars {
  display: flex;
  gap: 10px;
}
.katalogStars svg {
  color: #f6b76f;
  font-size: 20px;
}
.katalogCard button {
  width: 100%;
  height: 50px;
  background: #eee;
  border: none;
  margin-top: 10px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 1100px) {
  .katalogCards .katalogCard {
    width: 300px;
  }
}
@media screen and (max-width: 750px) {
  .katalogCards .katalogCard {
    margin: auto;
    width: 80%;
  }
  .katalog .katalogButton {
    gap: 5px;
  }
  .katalogButton button {
    padding: 5px 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .katalog .katalogButton {
    width: 95%;
    padding: 10px 5px;
  }
  .katalogButton button {
    padding: 2px 5px;
    font-size: 12px;
  }
}