.service {
  padding-top: 100px;
  position: relative;
  /* background: olive; */
}

.serviceTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serviceTopImage {
  width: 45%;
}
.serviceTopImage img {
  width: 100%;
  box-shadow: -10px 10px 30px 2px grey;
  border-radius: 30px;
}
.serviceTop .serviceTopText {
  text-align: center;
  width: 50%;
  padding-right: 30px;

}
.serviceTop .serviceTopText h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
}
.serviceTop .serviceTopText h2 span {
  color: var(--color);
}
.serviceTop .serviceTopText ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 50px;
  text-align: start;
}

.serviceTop .serviceTopText ul img {
  width: 30px;
  height: 30px;
}
.serviceTop .serviceTopText ul li {
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  line-height: 20px;
}

.serviceBottom {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
}
.serviceBottom::before,
.serviceBottom::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 500px;
}
.serviceBottom::after {
  left: 0px;
  bottom: 0px;
  background: center/contain no-repeat url("../../assets/doorLeft.svg");
}
.serviceBottom::before {
  right: 0px;
  top: 0px;
  background: center/contain no-repeat url("../../assets/doorRight.svg");
}

.serviceBottom h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  width: 80%;
  margin: 0px auto;
}
.serviceBottom h2 span {
  color: var(--color);
}

.serviceBottom .serviceBottomImages {
  display: flex;
  align-items: end;
  justify-content: center;
  padding-top: 100px;
  height: 550px;
}
.serviceBottomImages .fromImage {
  width: 350px;
  object-fit: contain;
  transform: translate(50px, 70px);
  position: relative;
  z-index: -1;
}
.serviceBottomImages .serviceBottomCard {
  width: 300px;
  background: var(--color);
  height: 300px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.serviceBottomImages .serviceBottomCard button {
  color: var(--color);
  background: white;
  border: none;
  width: 100%;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 12px;
}
.serviceBottomImages .successImage {
  align-self: flex-start;
  transform: translateX(-30px);
}

@media screen and (max-width: 920px) {
  .service .serviceTop {
    flex-direction: column;
    gap: 50px;
  }
  .service .serviceTop > div {
    width: 90%;
    margin: 0px auto;
  }
  .serviceTop .serviceTopText ul li {
    font-size: 15px;
  }
  .serviceBottom .serviceBottomImages {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .serviceBottom .serviceBottomImages > img {
    align-self: center;
    transform: translate(0px);
  }
}
