.homeCategory {
    text-align: center;
    padding-top: 30px;
    height: 100vh;
    background: #f7f7f7f7;
}
.homeCategoryButtons {
    display: flex;
    width: max-content;
    margin: 30px auto;
    gap: 40px;
    background: #eee;
    padding: 10px;
    border-radius: 30px;
}
.homeCategoryButtons button {
    border: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
}




.homeCategorySwipers {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
.swiper-wrapper {
    margin: 0px auto;
}

.homeCategorySwiper .homeCategorySwiperImage {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.homeCategorySwiperText {
    background: white;
    text-align: start;
    padding: 20px;
}
.homeCategorySwiperText p {
    color: #8D8D8D;
}
.homeCategorySwiperText h2 {
    color: #1E1E1E;
    padding: 10px 0px;
}
.homeCategorySwiperStar {
    display: flex;
    gap: 10px;
}
.homeCategorySwiperText .homeCategorySwiperStar svg {
    color: #F6B76F;
    font-size: 20px;
}
.homeCategorySwiperText button {
    margin-top: 20px;
    width: 100%;
    border: none;
    background:#F7F7F7;
    padding: 15px 0px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    border-radius: 30px;
    cursor: pointer;
}
.homeCategorySwipers .swiper-button-prev,
.homeCategorySwipers .swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    color: black;
    transition: 0.1s;
}
.homeCategorySwipers .swiper-button-prev::after,
.homeCategorySwipers .swiper-button-next::after {
    font-size: 20px ;
}
.homeCategorySwipers .swiper-button-prev:active,
.homeCategorySwipers .swiper-button-next:active {
    transform: scale(0.9);
}