.detailCard {
  padding: 100px 0px;
}
.detailCard > h1 {
  text-align: center;
}
[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(0, 0, 0, 0.9) !important; /* Rangni o'zgartirish uchun o'zingiz xohlagan qiymatni kiriting */
}

.detailCardWrapper {
  display: flex;
  width: 90%;
  margin: 0px auto;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 0px;
}
.detailCardWrapper .detailCardImage {
  width: 45%;
  position: relative;
}
.detailCardWrapper .detailCardImage::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0%;
  /* width: 120%;
    left: -10%; */
  bottom: 0px;
  height: 70%;
  background: #f0f0f0;
  z-index: 1;
  border-radius: 20px 20px 0px 0px;
}
.detailCardWrapper .detailCardImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 80vh;
  position: relative;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px grey);
}
.detailCardWrapper .detailCardRight {
  width: 50%;
}
.detailCardWrapper .detailCardRight .detailCardText h1 {
  font-size: 45px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.04em;
}

.detailCardWrapper .detailCardRight .detailCardText p {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding-top: 40px;
}
.detailCardWrapper .detailCardRight .detailCardText span {
  color: var(--color);
  margin-left: 20px;
}
.detailCardWrapper .detailCardRight .detailCardText h3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.04em;
  padding: 10px 0px;
}

.detailCardRight .detailCardForm {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  width: 80%;
}
.detailCardRight .detailCardForm input {
  width: 45%;
  padding: 15px 10px;
  border-radius: 12px;
  border: none;
  background: #eee;
  color: black;
}
.detailCardRight .detailCardForm input::placeholder {
  color: rgb(49, 49, 49);
}
.detailCardRight .detailCardForm button {
  width: 100%;
  margin-bottom: 50px;
}
.detailCardRight .detailCardDesc span {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2aabee;
}
.detailCardRight .detailCardDesc h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  padding: 10px 0px;
}
.detailCard h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.04em;
  width: 80%;
  margin: 0px auto;
  text-align: center;
}
.detailCard h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  padding-top: 20px;
}
@media screen and (max-width: 1200px) {
  .detailCardWrapper .detailCardRight .detailCardText h1 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (max-width: 900px) {
  .detailCard .detailCardWrapper {
    flex-direction: column;
    align-items: center;
  }
  .detailCardWrapper .detailCardImage {
    width: 90%;
  }
  .detailCardWrapper .detailCardRight {
    width: 90%;
  }
  .detailCardRight .detailCardForm {
    margin: 30px auto;
  }
}
@media screen and (max-width: 600px) {
  .detailCardRight .detailCardForm {
    width: 100%;
  }
}
