.modalTitle  {
    padding: 20px 50px ;
}
 

.modalBody {
    padding: 0px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modalBody label {
    font-weight: 600;
    font-size: 20px;
}
.modalBody input {
    padding: 15px 10px;
    border: none;
    background-color: #F1F1F1;
    border-radius: 10px;
}
.modalBody button {
    padding: 15px 10px;
    margin-top: 20px;
    border: 2px solid transparent;
}

@media screen and (max-width:600px) {
    .modalTitle {
        padding: 10px;
    }
    .modalBody {
        padding: 0px 20px 30px;
    }
}