header {
  height:100vh;
  width: 100%;
  background:center/cover url("../../assets/bg.png");
  overflow-x: hidden;
}
.header {
  width: 90%;
  margin: auto;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative; 
}
.header::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 40vh;
  background: var(--color);
  left: -50px;
  top: 100px;
  border-radius: 5px;
}
.headerLeftTitle h3 {
  color: var(--color);
  font-weight: 600;
  font-size: 25px;
}
.headerLeftTitle h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
}
.headerLeftTitle p {
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 4px;
}
.headerLeftTitle p span {
  color: var(--color);
  -webkit-text-stroke: 1px white;
}
.headerLeft .headerLeftText {
  font-size: 19px;
  width: 100%;
  display: flex;
  align-items:center ;
  padding-top: 15px;
}
.headerLeft .headerLeftText .headerLeftIcon {
  color: var(--color);
  margin-right: 1rem;
  font-size: 1.5rem;
}

.headerLeft .headerLeftText:nth-child(3) {
  justify-content: center;
}
.headerLeft .headerLeftText:nth-child(4) {
  justify-content: end;
}
.header .button {
  margin-top: 40px;
  padding: 15px 40px;
  font-size: 20px;
}

.headerRight {
  width: 40%;
  height: 80%;
}

.headerRight .headerCarousel {
  width: 100%;
  text-align: center;
  height: 100%;
}

.headerRight .swiper-slide img {
  border-radius: 10px;
  width: 80%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
  transform: scale(0.97);
}
.headerCarousel .swiper-slide{
  background: white;
}

@media screen and (max-width:1100px) {
  header { 
    height: auto;
    padding: 50px 0px;
  }
.header::after {
  left: 0px;
}
  header .header {
    flex-direction: column;
    gap: 50px;
    padding-top: 70px;
  }
  .header .headerRight {
    width: 50%;
    height: 350px;
  }
  .headerLeft  {
    width: 90%;
  } 
}
@media screen and (max-width:700px) {
  .header::after {
    display: none;
  }
  header {
    padding: 10px 0px 50px;
  }
  .header .headerRight {
    width: 90%;
  }

  .headerLeft {
    width: 100%;
  }
  .headerLeft .headerLeftText {
    justify-content: start !important;
  }
  .headerLeftTitle h1,
  .headerLeftTitle p {
    font-size: 35px;
  }
}