:root {
  --bgColor: transparent;
  --textColor: black;
  --bgWhite: #fff;
  --mediaTextColr: #fff;
}
.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  z-index: 10;
  background: var(--bgColor);
  transition: 0.5s;
}

.nav .navImage {
  width: 15%;
  display: flex;
  align-items: center;
}
.navImage img {
  position: relative;
  z-index: 20;
  filter: drop-shadow(0px 0px 20px rgb(255,255,255));
}
.navImage .bars {
  display: none;
  position: relative;
  z-index: 20;
}
.nav a {
  display: flex;
  gap: 5px;
  color: var(--textColor);
}
.nav .navLinks {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}
.navLinks .dropDown {
  position: relative;
  display: flex;
  justify-content: center;
}
.navLinks .dropDown:hover .dropDownElement {
  display: flex;
}
.navLinks .dropDownElement {
  position: absolute;
  top: 22px;
  display: none;
  gap: 10px;
  padding: 10px 0px;
  align-items: center;
  width: 150px;
  border-radius: 5px;
  flex-direction: column;
  background: var(--bgWhite);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.languages img {
  width: 30px;
}
.navContact {
  display: flex;
  gap: 5px;
}
.languages {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.languages .nowFlag {
  display: flex;
  align-items: center;
  gap: 5px;
}
.languages .another {
  position: absolute;
  top: 35px;
  display: none;
  gap: 8px;
  align-items: center;
  flex-direction: column;
  width: 100px;
  border-radius: 5px;
  background: var(--bgWhite);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.languages:hover .another {
  display: flex;
}
.another > div {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  gap: 10px;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.another > div:nth-child(3) {
  border-bottom: none;
}
.another > div img {
  filter: drop-shadow(0px 0px 2px black);
}
.navClose {
  display: none;
}

.navbar .nav.scroll {
  background: rgba(237, 237, 237, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 1100px) {
  .nav {
    padding: 0px 10px;
  }
  .nav a {
    font-size: 14px;
  }
  .nav .navLinks {
    gap: 15px;
  }
}

@media screen and (max-width: 892px) {
  .navbar .navLinks {
    position: fixed;
    top: -100vh;
    opacity: 0;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    color: var(--mediaTextColr);
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    transition: 0.5s;
  }
  .navbar .navLinks.show {
    opacity: 1;
    top: 0px;
  }
  .navLinks a {
    color: var(--mediaTextColr);
    font-size: 22px;
  }
  .navbar .navImage {
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
 
  .dropDown svg {
    display: none;
  }
  .navLinks .dropDown {
    flex-direction: column;
  }
  .navLinks .dropDown a ,.navContact span , .navImage .bars {
    display: flex;
    font-size: 22px;
  }
  .navLinks .dropDownElement {
    display: flex;
    position: static;
    background: transparent;
    left: 0px;
    width: auto;
  }
  .navClose {
    display: flex;
    position: absolute;
    right: 45px;
    top: 25px;
    font-size: 30px;
  }
  .languages .nowFlag {
    display: none;
  }
  .languages .another {
    position: static;
    display: flex;
    flex-direction: row;
    background: transparent;
    gap: 20px;
    width: 100%;
  }
  .another .language {
    border-bottom: none;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
  }
}
