footer {
  background: #f7f7f7;
  padding-top: 100px;
}
.footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  height: 70%;
  width: 80%;
  margin: 0px auto;
  gap: 50px;
}
.footer div a {
  display: block;
  padding-bottom: 20px;
  color: black;
  display: flex;
  align-items: center;
}
.footer div a svg {
  font-size: 20px;
  margin-right: 1rem;
}
.footer div > a:nth-child(1) {
  color: #f6973f;
}
.footerBottom {
  display: flex;
  width: 80%;
  margin: 0px auto;
  justify-content: space-between;
  padding: 70px 0px;
}
.footerBottom .footerBottomRight {
  display: flex;
  gap: 50px;
}
.footer p {
  letter-spacing: 1px;
}

@media screen and (max-width: 700px) {
  .footer {
    grid-template-columns: auto 1fr;
  }
}

@media screen and (max-width: 550px) {
  footer {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .footer {
    grid-template-columns: auto;
    gap: 15px;
  }
  .footer p {
    font-size: 14px;
  }
  .footer div a {
    font-size: 14px;
    padding-bottom: 8px;
  }
  .footerBottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    width: 80%;
    padding: 15px 0px;
  }

  .footerBottom .footerBottomRight {
    gap: 0px;
    flex-direction: column;
  }
}
