footer {
  background: #f7f7f7;
}
.footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  height: 70%;
  width: 80%;
  margin: 0px auto;
  padding-top: 100px;
  gap: 50px;
}
.footer div a {
  display: block;
  padding-bottom: 20px;
  color: black;
  display: flex;
  align-items: center;
}
.footer div a svg {
  font-size: 20px;
  margin-right: 1rem;
}
.footer div > a:nth-child(1) {
  color: #f6973f;
}
.footerBottom {
  display: flex;
  width: 80%;
  margin: 0px auto;
  justify-content: space-between;
  padding: 70px 0px;
}
.footerBottom .footerBottomRight {
  display: flex;
  gap: 50px;
}
.footer p {
  letter-spacing: 1px;
}

@media screen and (max-width: 620px) {
  .footer {
    grid-template-columns: auto 1fr;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    grid-template-columns: auto;
  }
  .footerBottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
  }

  .footerBottom .footerBottomRight {
    gap: 0px;
    justify-content: space-between;
  }
}
