@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
:root {
  --color: #b62d25;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
.button {
  padding: 15px 20px;
  background: var(--color);
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
}
svg {
  cursor: pointer;
}
div a {
  text-decoration: none;
}
.swiper .swiper-button-prev ,
.swiper .swiper-button-next {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  color: black;
  transition: 0.1s;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  display: none;
}
.swiper .swiper-button-prev:active,
.swiper .swiper-button-next:active {
  transform: scale(0.9);
}

img::selection {
  background: transparent;
}

@media screen and (max-width: 1000px) {
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    display: none !important;
  }
}