@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
.btn {
  padding: 10px 20px;
  background: #B62D25;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
}
svg {
  cursor: pointer;
}